{% extends "base.html" %}

{% block content %}  
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/book.css">

<div class="preview">
    <embed id='preview' src="../static/images/testpdf.pdf" type="application/pdf" width="1200" height="700">
</div>

<meta id="book" data="{{book}}" data-other="{{other}}">

<script src="../static/js/author.js"></script>
<script src="../static/js/book.js"></script>
<script src="../static/js/library.js"></script>

{% endblock %}