{% extends "base.html" %}

{% block content %}  
<!-- Ovde ide kod specifične stranice (npr. index.html, login.html...) -->
<link rel="stylesheet" href="../static/css/index.css">
<div class="main">
    <div class="hero">
        <div class="hero-img"><img src="../static/images/books-hero.png"></div>
        <div class="hero-txt">
            <p class="hero-title">ONLINE<br>BIBLIOTEKA</p>
            <p class="hero-subtitle">Lektire ne moraju biti teške</p>
            <a href="#lektire"><button class="primary-btn">Započni</button></a>
        </div>
    </div>

    <div id="lektire">
        <h1 class="lektire-title">Istraži lektire</h1>
        <div class="razredi">
            <div class="razred r1">
                <p class="razred-title">I razred</p>
                <img src="../static/images/hor-line.png">
                <div class="razred-lektire">
                    <div class="jedna-lektira lek1">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek2">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek3">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="controls-center">
                        <div class="controls">
                            <button class="secondary-btn">&lt;</button>
                            <button class="secondary-btn">&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="razred r2">
                <p class="razred-title">II razred</p>
                <img src="../static/images/hor-line.png">
                <div class="razred-lektire">
                    <div class="jedna-lektira lek1">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek2">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek3">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="controls-center">
                        <div class="controls">
                            <button class="secondary-btn">&lt;</button>
                            <button class="secondary-btn">&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="razred r3">
                <p class="razred-title">III razred</p>
                <img src="../static/images/hor-line.png">
                <div class="razred-lektire">
                    <div class="jedna-lektira lek1">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek2">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek3">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="controls-center">
                        <div class="controls">
                            <button class="secondary-btn">&lt;</button>
                            <button class="secondary-btn">&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="razred r4">
                <p class="razred-title">IV razred</p>
                <img src="../static/images/hor-line.png">
                <div class="razred-lektire">
                    <div class="jedna-lektira lek1">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek2">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="jedna-lektira lek3">
                        <div class="lek-left">
                            <p class="lek-title">Tuga</p>
                            <p class="lek-author">Anton Pavlovič Čajkovski</p>
                            <p class="lek-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="lek-right">
                            <div class="lek-right-div">
                                <img src="../static/images/example/tolstoj.jpg">
                            </div>
                            <div class="lek-right-div">
                                <button class="secondary-btn">Čitaj</button>
                            </div>
                        </div>
                    </div>
                    <div class="controls-center">
                        <div class="controls">
                            <button class="secondary-btn">&lt;</button>
                            <button class="secondary-btn">&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<meta id="books" data="{{books}}" data-other="{{other}}">

<script src="../static/js/book.js"></script>
<script src="../static/js/author.js"></script>
<script src="../static/js/index.js"></script>

{% endblock %}