{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/login.css">

<h1 class="admin-txt">Admin log in</h1>

<form action="./sign_in" method="post" class="login-form">
    <div class="left">
        <div class="username">
            <div class="input-bar-cont">
                <div class="username-bar">
                    <div class="search-ico"><img src="../static/images/username-ico.png" alt=""></div>
                    <div class="input-bar"><input id="username-input" name='username' id="search-input" placeholder="Username" type="text"></div>
                </div>
            </div>
        </div>
        <div class="pwd">
            <div class="input-bar-cont">
                <div class="username-bar">
                    <div class="search-ico"><img src="../static/images/pwd-ico.png" alt=""></div>
                    <div class="input-bar"><input id="pwd-input" name='pwd' id="search-input" placeholder="Password" type="password"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <button id='login-btn' type="submit" class="primary-btn" disabled>LOG IN</button>
    </div>

    <script src="../static//js/login.js"></script>
</form>
{% endblock %}