{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/login.css">

<h1 class="admin-txt">Admin log in</h1>

<form action="" method="post" class="login-form">
    {{ login_form.hidden_tag() }}
    <div class="left">
        <div class="username">
            <div class="input-bar-cont">
                <div class="username-bar">
                    <div class="search-ico"><img src="../static/images/username-ico.png" alt=""></div>
                    <div class="input-bar">
                        {{ login_form.nickname(class="form-control", id="username-input", placeholder="Username") }}
                    </div>
                </div>
                {% for error in login_form.nickname.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="pwd">
            <div class="input-bar-cont">
                <div class="username-bar">
                    <div class="search-ico"><img src="../static/images/pwd-ico.png" alt=""></div>
                    <div class="input-bar">
                        {{ login_form.password(class="form-control", id="pwd-input", placeholder="Password") }}
                    </div>
                </div>
                {% for error in login_form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="right">
        {{ login_form.submit(type="submit", class="btn btn-primary primary-btn") }}
    </div>
    <div style="color:red">{{ message }}</div>
    <script src="../static/js/login.js"></script>
</form>

{% endblock %}